PORT=5000
CLIENT_URL=http://localhost:3000
MONGODB_URI=mongodb+srv://akshay:<db_password>@cluster0.mobyhli.mongodb.net/sample_mflix?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=change_this_secret

